n8n-workflows/barber99-instagram-sync.json
{
  "name": "Barber99 - Instagram Sync",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 6
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Ogni 6 Ore",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://graph.instagram.com/me/media?fields=id,media_type,media_url,thumbnail_url,permalink,caption,timestamp&access_token={{ $env.INSTAGRAM_ACCESS_TOKEN }}",
        "options": {}
      },
      "id": "fetch-instagram",
      "name": "Fetch Instagram Media",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [470, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-data",
              "leftValue": "={{ $json.data?.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-has-data",
      "name": "Has Data?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [690, 300]
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "id": "split-posts",
      "name": "Split Posts",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [910, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://barber99:3000/api/instagram-posts",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"instagramId\": \"{{ $json.id }}\",\n  \"mediaUrl\": \"{{ $json.media_url }}\",\n  \"thumbnailUrl\": \"{{ $json.thumbnail_url || $json.media_url }}\",\n  \"permalink\": \"{{ $json.permalink }}\",\n  \"caption\": {{ JSON.stringify($json.caption || '') }},\n  \"mediaType\": \"{{ $json.media_type }}\",\n  \"timestamp\": \"{{ $json.timestamp }}\"\n}",
        "options": {}
      },
      "id": "save-to-payload",
      "name": "Save to Payload",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1130, 200]
    },
    {
      "parameters": {
        "jsCode": "// Extract all Instagram IDs from the posts\nconst posts = $input.all().map(item => item.json);\nconst instagramIds = posts.map(p => p.instagramId || p.id).filter(Boolean);\n\nreturn [{ json: { instagramIds } }];"
      },
      "id": "collect-ids",
      "name": "Collect IDs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1350, 200]
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "http://barber99:3000/api/instagram-posts",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ instagramIds: $json.instagramIds }) }}",
        "options": {}
      },
      "id": "cleanup-old",
      "name": "Cleanup Old Posts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1570, 200]
    }
  ],
  "connections": {
    "Ogni 6 Ore": {
      "main": [
        [
          {
            "node": "Fetch Instagram Media",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Instagram Media": {
      "main": [
        [
          {
            "node": "Has Data?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Data?": {
      "main": [
        [
          {
            "node": "Split Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Posts": {
      "main": [
        [
          {
            "node": "Save to Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to Payload": {
      "main": [
        [
          {
            "node": "Collect IDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Collect IDs": {
      "main": [
        [
          {
            "node": "Cleanup Old Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "barber99"
    },
    {
      "name": "instagram"
    }
  ],
  "triggerCount": 1,
  "active": false
}
