n8n-workflows/barber99-email-confirm.json
{
  "name": "Barber99 - Email Conferma Appuntamento",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "barber99-booking",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Booking",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-confirmation",
              "leftValue": "={{ $json.event }}",
              "rightValue": "manual_reminder",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-confirmation",
      "name": "Is Confirmation?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [470, 300]
    },
    {
      "parameters": {
        "fromEmail": "info@barber99.it",
        "toEmail": "={{ $json.client_email }}",
        "subject": "Conferma Appuntamento - Barber 99",
        "emailType": "html",
        "html": "<!DOCTYPE html>\n<html>\n<head>\n  <style>\n    body { font-family: Arial, sans-serif; background: #0c0c0c; color: #fff; padding: 20px; }\n    .container { max-width: 600px; margin: 0 auto; background: #1a1a1a; border-radius: 12px; overflow: hidden; }\n    .header { background: linear-gradient(135deg, #d4a855, #b8943f); padding: 30px; text-align: center; }\n    .header h1 { margin: 0; color: #0c0c0c; font-size: 24px; }\n    .content { padding: 30px; }\n    .detail { display: flex; justify-content: space-between; padding: 12px 0; border-bottom: 1px solid #333; }\n    .detail:last-child { border-bottom: none; }\n    .label { color: #888; }\n    .value { color: #fff; font-weight: bold; }\n    .cta { text-align: center; margin-top: 30px; }\n    .button { display: inline-block; background: #d4a855; color: #0c0c0c; padding: 12px 30px; text-decoration: none; border-radius: 6px; font-weight: bold; }\n    .footer { text-align: center; padding: 20px; color: #666; font-size: 12px; }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <div class=\"header\">\n      <h1>Prenotazione Confermata</h1>\n    </div>\n    <div class=\"content\">\n      <p>Ciao <strong>{{ $json.client_name }}</strong>!</p>\n      <p>Il tuo appuntamento e' stato confermato. Ecco i dettagli:</p>\n      \n      <div class=\"detail\">\n        <span class=\"label\">Data</span>\n        <span class=\"value\">{{ $json.date }}</span>\n      </div>\n      <div class=\"detail\">\n        <span class=\"label\">Ora</span>\n        <span class=\"value\">{{ $json.time }}</span>\n      </div>\n      <div class=\"detail\">\n        <span class=\"label\">Servizio</span>\n        <span class=\"value\">{{ $json.service_name }}</span>\n      </div>\n      <div class=\"detail\">\n        <span class=\"label\">Barbiere</span>\n        <span class=\"value\">{{ $json.barber_name }}</span>\n      </div>\n      <div class=\"detail\">\n        <span class=\"label\">Durata</span>\n        <span class=\"value\">{{ $json.duration }} minuti</span>\n      </div>\n      <div class=\"detail\">\n        <span class=\"label\">Prezzo</span>\n        <span class=\"value\">{{ $json.price }}</span>\n      </div>\n      \n      <p style=\"margin-top: 20px;\"><strong>Indirizzo:</strong><br>Via San Biagio 3, Serra San Bruno (VV)</p>\n    </div>\n    <div class=\"footer\">\n      <p>Barber 99 - L'arte del taglio dal 1999</p>\n      <p>Per cancellare o modificare, contattaci al 0963 XXXXXX</p>\n    </div>\n  </div>\n</body>\n</html>",
        "options": {}
      },
      "id": "send-confirmation-email",
      "name": "Send Confirmation Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [700, 200],
      "credentials": {
        "smtp": {
          "id": "barber99smtp01",
          "name": "Hostinger SMTP - Barber99"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "info@barber99.it",
        "toEmail": "={{ $json.client_email }}",
        "subject": "Promemoria Appuntamento Domani - Barber 99",
        "emailType": "html",
        "html": "<!DOCTYPE html>\n<html>\n<head>\n  <style>\n    body { font-family: Arial, sans-serif; background: #0c0c0c; color: #fff; padding: 20px; }\n    .container { max-width: 600px; margin: 0 auto; background: #1a1a1a; border-radius: 12px; overflow: hidden; }\n    .header { background: linear-gradient(135deg, #3b82f6, #1d4ed8); padding: 30px; text-align: center; }\n    .header h1 { margin: 0; color: #fff; font-size: 24px; }\n    .content { padding: 30px; }\n    .detail { display: flex; justify-content: space-between; padding: 12px 0; border-bottom: 1px solid #333; }\n    .detail:last-child { border-bottom: none; }\n    .label { color: #888; }\n    .value { color: #fff; font-weight: bold; }\n    .highlight { background: #d4a855; color: #0c0c0c; padding: 15px; border-radius: 8px; text-align: center; margin: 20px 0; }\n    .footer { text-align: center; padding: 20px; color: #666; font-size: 12px; }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <div class=\"header\">\n      <h1>Promemoria Appuntamento</h1>\n    </div>\n    <div class=\"content\">\n      <p>Ciao <strong>{{ $json.client_name }}</strong>!</p>\n      <p>Ti ricordiamo che hai un appuntamento domani:</p>\n      \n      <div class=\"highlight\">\n        <strong>{{ $json.date }} alle {{ $json.time }}</strong>\n      </div>\n      \n      <div class=\"detail\">\n        <span class=\"label\">Servizio</span>\n        <span class=\"value\">{{ $json.service_name }}</span>\n      </div>\n      <div class=\"detail\">\n        <span class=\"label\">Barbiere</span>\n        <span class=\"value\">{{ $json.barber_name }}</span>\n      </div>\n      \n      <p style=\"margin-top: 20px;\"><strong>Indirizzo:</strong><br>Via San Biagio 3, Serra San Bruno (VV)</p>\n      \n      <p style=\"color: #888; margin-top: 20px;\">Se non puoi venire, ti preghiamo di avvisarci il prima possibile.</p>\n    </div>\n    <div class=\"footer\">\n      <p>Barber 99 - L'arte del taglio dal 1999</p>\n      <p>Per cancellare o modificare, contattaci al 0963 XXXXXX</p>\n    </div>\n  </div>\n</body>\n</html>",
        "options": {}
      },
      "id": "send-reminder-email",
      "name": "Send Reminder Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [700, 400],
      "credentials": {
        "smtp": {
          "id": "barber99smtp01",
          "name": "Hostinger SMTP - Barber99"
        }
      }
    }
  ],
  "connections": {
    "Webhook Booking": {
      "main": [
        [
          {
            "node": "Is Confirmation?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Confirmation?": {
      "main": [
        [
          {
            "node": "Send Confirmation Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Reminder Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "barber99"
    }
  ],
  "triggerCount": 1,
  "active": false
}
