n8n-workflows/barber99-instagram-sync-apify.json
{
  "name": "Barber99 - Instagram Sync (Apify)",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 6
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Ogni 6 Ore",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://barber99_app:3000/api/instagram/sync",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-sync-secret",
              "value": "dbe5512a582a959fdd5eced64b8241e4e191e695fa29cba104a775fb01f6be90"
            }
          ]
        },
        "options": {
          "timeout": 300000
        }
      },
      "id": "sync-request",
      "name": "Sync Instagram Posts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [470, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-synced",
              "leftValue": "={{ $json.synced }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-new-posts",
      "name": "Nuovi Post?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [690, 300]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nreturn [{ json: { message: `Barber99: ${data.synced} nuovi post sincronizzati`, ...data, timestamp: new Date().toISOString() } }];"
      },
      "id": "log-synced",
      "name": "Log Sync",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [910, 200]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nreturn [{ json: { message: 'Barber99: No new posts to sync', ...data, timestamp: new Date().toISOString() } }];"
      },
      "id": "log-no-new",
      "name": "Log Skip",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [910, 400]
    }
  ],
  "connections": {
    "Ogni 6 Ore": {
      "main": [[{ "node": "Sync Instagram Posts", "type": "main", "index": 0 }]]
    },
    "Sync Instagram Posts": {
      "main": [[{ "node": "Nuovi Post?", "type": "main", "index": 0 }]]
    },
    "Nuovi Post?": {
      "main": [
        [{ "node": "Log Sync", "type": "main", "index": 0 }],
        [{ "node": "Log Skip", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "versionId": "1",
  "tags": []
}
